@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Commons-Regular";
  src: url("../fonts/tt-commons-regular.ttf");
}

@font-face {
  font-family: "Commons-DemiBold";
  src: url("../fonts/tt-commons-demibold.ttf");
}

.graphLG {
  background-image: url("../assets/bg1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, auto;
}

.contentDivLG {
  width: 1180px;
}
