@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Commons-Regular";
  src: url("../fonts/tt-commons-regular.ttf");
}

@font-face {
  font-family: "Commons-DemiBold";
  src: url("../fonts/tt-commons-demibold.ttf");
}
