@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Commons-Regular";
  src: url("../fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: "Commons-DemiBold";
  src: url("../fonts/SF-Pro-Text-Semibold.otf");
}

.graphLG {
  background-image: url("../assets/graph_bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, auto;
}

@media only screen and (max-width: 768px) {
  .graphLG {
    background-image: url("../assets/graph_bg_sm.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
  }
}

.contentDivLG {
  width: 1180px;
}

#nprogress {
  pointer-events: "none";
}

#nprogress .bar {
  background-color: blue;
  height: 3;
  left: 0;
  position: "fixed";
  top: 0;
  width: "100%";
  z-index: 2000;
}

/* .rcw-open-launcher {
  margin-left: auto;
  margin-right: auto;
}

.rcw-close-launcher {
  margin-left: auto;
  margin-right: auto;
}

.rcw-sender {
  align-items: center !important;
  gap: 10px;
}

.rcw-picker-btn {
  display: none;
}

.rcw-new-message {
  width: calc(100% - 40px) !important;
}

.rcw-conversation-container .rcw-header {
  padding: 0px !important;
} */
